@keyframes slide-right {
    0% {
       transform: translateX(-100%);
    }
 }

 @keyframes slide-left {
   0% {
      transform: translateX(50%);
   }
 }
 
 @keyframes slide-down {
    0% {
       transform: translateY(-100%);
    }
 }
 
 @keyframes fade {
    0% {
       opacity: 0;
    }
 }